<!-- Breadcrumbs-->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <%= link_to  "Dashboard", backoffice_path %>
  </li>
  <li class="breadcrumb-item">
    <%= link_to  "Categories", backoffice_categories_path %>
  </li>
  <li class="breadcrumb-item active">Edit Category</li>
</ol>
<h1>Backoffice::Categories#edit</h1>

<div class="col-sm-10 offset-1">
  <div class="card mt-5 mb-5">
    <div class="card-header">Edit Category</div>
    <div class="card-body">
      
    </div>
  </div>
</div>
