<!-- Breadcrumbs-->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="index.html">Dashboard</a>
  </li>
  <li class="breadcrumb-item active">Blank Page</li>
</ol>

<!-- Page Content -->
<h1>Blank Page</h1>
<h2>Olá <%= current_admin.email %> teu IP: <%= current_admin.current_sign_in_ip %></h2>
<hr>
<p>This is a great starting point for new custom pages.</p>
